server/poker
server/server
client/js/bundle.js
client/js/bundle.js.map
client/node_modules
client/semantic/dist
client/semantic/tasks
test/testenv
test/build
test/node_modules
*pyc
test/ghostdriver.log
phantomjsdriver.log
test/phantomjsdriver.log
test/poker

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
